<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Statify - Log In</title>

    <!--Set favicon-->
    <link rel='shortcut icon' href='../favicon/favicon.ico' type='image/x-icon' />

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />

    <!--Import Google Montserrat Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!--Import login.css-->
    <link rel="stylesheet" type="text/css" media="screen" href="../css/login.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Import jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <div class="navbar-fixed">
        <nav class="darkNav" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="https://www.spotify.com/" class="brand-logo">
                    <svg class="logo" style="width:50px;height:50px" viewBox="0 0 24 24">
                        <path fill="#FFFFFF"
                            d="M17.9,10.9C14.7,9 9.35,8.8 6.3,9.75C5.8,9.9 5.3,9.6 5.15,9.15C5,8.65 5.3,8.15 5.75,8C9.3,6.95 15.15,7.15 18.85,9.35C19.3,9.6 19.45,10.2 19.2,10.65C18.95,11 18.35,11.15 17.9,10.9M17.8,13.7C17.55,14.05 17.1,14.2 16.75,13.95C14.05,12.3 9.95,11.8 6.8,12.8C6.4,12.9 5.95,12.7 5.85,12.3C5.75,11.9 5.95,11.45 6.35,11.35C10,10.25 14.5,10.8 17.6,12.7C17.9,12.85 18.05,13.35 17.8,13.7M16.6,16.45C16.4,16.75 16.05,16.85 15.75,16.65C13.4,15.2 10.45,14.9 6.95,15.7C6.6,15.8 6.3,15.55 6.2,15.25C6.1,14.9 6.35,14.6 6.65,14.5C10.45,13.65 13.75,14 16.35,15.6C16.7,15.75 16.75,16.15 16.6,16.45M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
                    </svg>
                </a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="menu-items" href="https://www.google.com/">About</a></li>
                    <li><a class="menu-items" href="https://www.google.com/">Features</a></li>
                    <li><a class="menu-items" href="https://www.google.com/">Contact</a></li>
                    <li><a class="menu-items" href="https://www.google.com/">Privacy policy</a></li>
                    <li><a class="menu-items" href="https://www.google.com/">Open source licenses</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-nav">
        <li><a class="menu-items" href="https://www.google.com/"><i
                    class="small material-icons icon-white">info</i>About</a></li>
        <li><a class="menu-items" href="https://www.google.com/"><i
                    class="small material-icons icon-white">star</i>Features</a></li>
        <li>
            <div class="divider divider-gray"></div>
        </li>
        <li><a class="menu-items" href="https://www.google.com/"><i
                    class="small material-icons icon-white">email</i>Contact</a></li>
        <li><a class="menu-items" href="https://www.google.com/"><i
                    class="small material-icons icon-white">lock</i>Privacy policy</a></li>
        <li><a class="menu-items" href="https://www.google.com/"><i class="small material-icons icon-white">code</i>Open
                source licenses</a></li>
    </ul>
    <div class="login-container">
        <div class="content-container">
            <h1 class="title">Statify</h1>
            <h6 class="phrase">Learn more about your Spotify profile.</h6>
            <a class="waves-effect waves-dark btn-large login-btn">Log in</a>
        </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script src="../js/materialize.min.js"></script>
    <script src="../js/login.js"></script>
</body>

</html>